body {
	margin: 0px;
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 1rem;
	line-height: 1.5;
	color: #D8D9DA;
	background: black;
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */


.header {
    border-bottom: 1px solid white;
    padding: 16px 16px;
}

.logo {
	float: left;
	font-size: 30px;
	font-weight: bold;
	border-bottom: 2px solid orange;
}

.nav {
	font-size: 16px;
	float: right;
}

.nav a {
	border: 1px solid orange;
	border-radius: 3px;
	text-decoration: none;
	color: inherit;
	float: left;
	padding: 10px 16px;
	margin-left: 8px;
}

body > .container {
	padding: 16px 16px;
}

body > .container-small {
	padding: 16px 16px;
	margin: auto;
	width: 1024px;
}

[class*='col-'] {
  float: left;
}

.col-2-3 {
  width: 66.66%;
}
.col-1-3 {
  width: 33.33%;
}
.col-1-2 {
  width: 50%;
}
.col-1-4 {
  width: 25%;
}
.col-1-5 {
  width: 20%;
}
.col-2-5 {
  width: 40%;
}
.col-3-5 {
  width: 60%;
}
.col-4-5 {
  width: 80%;
}

.chat-tab textarea{
	font-size: 16px;
	height: 100px;
}

.chat-tab .col-1-5 {
	padding-left: 8px;
}
.chat-tab input {
	height: 100px;
}

.grid:after {
  content: "";
  display: table;
  clear: both;
}

.green {
	color: green;
	font-weight: bold;
}
#spread-graph {
	height: 350px;
}

#execution-table {
	border-radius: 4px;
	margin-right:16px;
	padding: 0px 8px;
	width: 100%;
	text-align: center;
}

#execution-table td {
	border-bottom: 3px dotted white;
	padding: 8px 0px;
}

.full {
	width: 100%;
}

.panel {
	background-color: black;
	margin-bottom: 32px;
}
.tabs > span  {
	cursor: pointer;
	font-weight: bold;
	margin: 0;
	padding: 6px 8px;
	display: inline-block;
	border: 1px solid orange;
	border-bottom: none;
	background-color: black;
}

.tabs .active {
	cursor: inherit;
	border-color: white;
	position: relative;
	padding-top: 4px;
	bottom: -1px;
}

.panel > .active {
	display: block !important;
}

.panel .container {
	display: none;
	padding: 8px;
	border: 1px solid white;
}

.grid > .panel+.panel {
	padding-left: 16px;
}

input {
	font-size: 30px;
	color: white;
	padding: 8px 16px;
	background-color: black;
	border: 1px solid white;
}

input[type=text] {
	text-align: center;
	margin-bottom: 32px;
}

input[type=button] {
	border-color: orange;
}
input[type=submit] {
	border-color: orange;
}

::-webkit-input-placeholder {
   color: #707070;
}

:-moz-placeholder { /* Firefox 18- */
   color: #707070;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #707070;  
}

:-ms-input-placeholder {  
   color: #707070;  
}

.login-panel {
   margin: 20px auto;
   width: 40%;
}
.login-panel input {
    text-align: left;
}

textarea {
	padding: 8px;
	border: 1px solid white;
	background-color: black;
	color: white;
	width: 100%;
	resize: none;
}

ul.tradebar {
	display: inline;
	list-style: none;
	margin: 0;
	padding: 0;
}

.tradebar li {
	font-weight: bold;
	margin: 0;
	display: inline-block;
	float: left;
	border: 1px solid orange;
	margin-left: 16px;
	padding: 3px 16px;
	font-size: 26px;
}

.tradebar li+li {
}

.modal {
    position: absolute;
    left: 10%;
    top: 10%;
    width: 80%;
    background: black;
    z-index: 20;
    border: 1px solid white;
}

.modal-overlay {
    background-color: black;
    background: rgba(0,0,0,.8);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

.modal .modal-body {
    padding: 0 20px 20px;
}

.modal h1 {
    line-height: 1;
}

.modal input[type=text] {
    text-align: left;
}

.modal input[type=button] {
    float: right;
    margin: 20px 0;
}

