{{define "base"}}
<html>
	<head>
		<title>{{template "title" .}}</title>
		<link rel="stylesheet" type="text/css" href="main.css">
	</head>
	<body>
		<div class="header clearfix">
			<span class="logo">the exchange</span>

			{{if .Currencies}}
			<ul class="tradebar">
				{{range $currency := .Currencies}}
				<li>{{$currency}}</li>
				{{end}}
			</ul>
			{{end}}

			<div class="nav clearfix">
				<a href ="/login">login</a><a href="/settings">settings</a>
			</div>
		</div>
		{{template "body" .}}

		<script src="jquery.min.js"></script>
		<script src="jquery.flot.min.js"></script>
		<script src="main.js"></script>
	</body>
</html>
{{end}}