{{define "title"}}Exchange | Settings{{end}}

{{define "body"}}
<form class="container settings-form" method="POST" action="/settings">
  <div class="container">
    <label for="gdax-key">GDAX API Key</label>
    <input type="text" name="gdax-key"></input>
  </div>
  <div class="container">
    <label for="gdax-secret">GDAX API Secret</label>
    <input type="text" name="gdax-secret"></input>
  </div>
  <div class="container">
    <label for="gdax-passphrase">GDAX API Passphrase</label>
    <input type="text" name="gdax-passphrase"></input>
  </div>
  <div class="options">
    <input type="submit" value="Submit" />
  </div>
</form>
{{end}}
