{{define "title"}}Exchange | Signup Page{{end}}

{{define "body"}}
<div class="grid">
  	<div class="login-panel">
	    <form class="container" method="POST" action="/signup">
       		<h1>Create an account</h1>

       		{{if .Error}}
       		<div class="error">{{.Error}}</div>
       		{{end}}

       		{{if .Captcha}}
       		<h2>Here is the captcha that I should implement</h2>
       		{{end}}
          
          <img src="/captcha/{{.CaptchaID}}.png"/>

       		<label for="username">Username</label>
       		{{if .Username}}
			<input type="text" class="full" name="username" placeholder="username" value="{{.Username}}"/>
       		{{else}}
			<input type="text" class="full" name="username" placeholder="username" autofocus/>
       		{{end}}
       		
       		<p>A password should have more than 3 characters.</p>
			<label for="password">Password</label>
		    <input type="password" class="full" name="password" placeholder="password" autofocus />

		    <label for="password">Confirm Password</label>
		    <input type="password" class="full" name="password2" placeholder="password again"/>

		    <div class="options">
		   		<input type="submit" value="Sign Up" class="signup-button"/>
		   		<a href="/">Go Back Home</a>
		    </div>
     </form>
   </div>
</div>
{{end}}
